body {
  background: #EEEEEE;
  font-size: 1.8em !important;
  color: #111111
}

div#notes {
  background: #FFFFFF;
  margin: auto;
  padding: 20px;
  width: 80%;
}

div#controls {
  margin: auto;
  padding: 20px;
  width: 80%;
}
