body {
  background: #EEEEEE;
  font-size: 1.8em;
  color: #111111
}

div#notes {
  background: #FFFFFF;
  margin: auto;
  padding: 20px;
  width: 80%;
}

div#controls {
  margin: auto;
  padding: 20px;
  width: 80%;
}

p.text-center {
  text-align: center;
  font-size: 0.8em;
}

p.text-center a {
  color: #999999;
}

p.text-center a:hover {
  color: #111111;
}

button {
  padding: 10px;
}
